#navi{
    height: 100px;
    background-color:#252839;
}
.container-2{
    display: flex;
    justify-content: center;
    top: -5vw;
    position: relative;
}
#wrap-Box{
 display: flex;
 flex-direction: row;
 max-width: 1200px;
 width: 100%;
 box-shadow: 12px 12px 14px #252839;
}
#writeBox{
flex:2;
background-color: #252839;
min-height: 200px;
padding: 3%;
color: #01fe87;
border: 10px solid #cecece;
font-size: 2vw;

}
#writeBox3{
flex:1;
background-color: #cecece;
min-height: 200px;
padding: 3%;
color: #252839;
font-size: 2vw;
}
#txt{
    display: inline-block;
    vertical-align: middle;
    line-height: auto;
}

@media only screen and (max-width:768px) {
    #wrap-Box{
        flex-direction: column;
    }
    
}
@media only screen and (max-width:768px) {
    #wrap-Box{
        flex-direction: column;
    }
    #writeBox{
        font-size: 5vw;
    }
    #writeBox3{
        font-size: 5vw;
    }
    #rightBar{
        border-left: 10px solid #252839;
    }
}

#leftBar{
    flex: 1;
    background-color: #252839;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}
#rightBar{
    flex:3;
    background-color: white;
    min-height: 200px;
    max-height: 300px;
    border: 10px solid #252839;
    
    

}   
#circle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid #01fe87;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    
}
#cText{
    display: inline-block;
    width: 200px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#background{
    width:100%;;
}
#backbacki{
    width: 100%;
}
.container-3{
    display: flex;
    justify-content: center;
    top: 0px;
    position: relative;
}