#contact-panel{
    width: 300px;
    background-color: #2d2f3f;
    margin: auto;
    height: 400px;
    margin-bottom: 80px;
}
.Box-contact{
    padding: 30px;
    color: #8f20db;
    font-size: 20px;
    padding-bottom: 0px;
}
.Box-info-1{
    text-align: center;
    font-size: 25px;
    color: white;
}
#me-icon{
    margin-top: 30px;
    margin-left: calc(50% - 30px);
}
#SMS{
    color: rgb(180, 180, 180);
    font-size: 14px;
    margin: auto;
    text-align: center;
}