$primary-color: #00cfff;
$secondary-color:#262626;
$third-color:black;
$next-color:#525252;

#left-lego{
    background-color: #525252;
    border-radius: 14px;
    margin: 10px;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-bottom: 10px;
    z-index: 2;
    padding: 34px;

}
.col-sm-12 h2 {
    color:$secondary-color;
}
.col-sm-12 p{
    color: white;
    width: 100%;
    height: 126px;
}
.col-sm-12{
    float: left;

}
.to-left{
    width: 100%;
    float: left;
}
#cont-2{
    padding: 10px;
    border-radius: 23px;
    

    h2{
        color: $primary-color;
        font-weight: revert;
    }
    button{
        background-color: #00ffe700;
        border: 2px solid $primary-color;
        color: white;
        border-radius: 9px;
        margin-top: 118px;
    }
}
.pictures{

    display: block;
    margin-left: auto;
    margin-right: auto;

}



.btn-2-n{
    background-color: #00ffe700;
    border-radius: 37px;
    border: 2px solid $primary-color;
    color:white;
}

#upper-margin{
    background-color: #bbbbbb;
    min-height: 600px;
    #cont-2{
        padding: 20px;
        border-radius: 15px;
    }
}
div.container:nth-child(2) {

    margin-top: 30px;
}

.row{
    animation-name: ShowSkill;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: relative;
}