#bar-btn{
    text-align: right;
    background-color: #252839;
    width: 99vw;
}
#bar-btn > button{
    color: white;
    background-color: #252839;
}
#bar-btn > button:hover{
    color: white;
    background-color: #8f20db;
}