$primary: #8f20db;
$seconday: #252839;

#writing1{
    margin-left: 0px;
    text-align: center;
    width: 100%;
    height: 50vh;
    position: relative;
    background: linear-gradient(90deg, #252839 50%, #686868);
    background-position: 50% 50%;
    background-size: 400% !important;
    animation:back 8s infinite;
    clip-path: polygon(100% 0, 100% 38%, 12% 100%, 0 54%, 0 0)
}
@keyframes back{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 70% 50%;
    }
    100%{
        background-position: 0% 50%;
    }

}
#string1{
    position: relative;
    font-size: 6vw;
    -webkit-text-stroke: 0.2vw #464646;
    color: #25283900;
    width: 34.5vw;
    top: 12vh;
    left: 20vh;
}
#string1::before{
    content: attr(data-text);
    position: absolute;
    width: 50vw;
    height: 100%;
    color: $primary;
    -webkit-text-stroke:rgba(0, 0, 0, 0);
    border-right: 2px solid $primary;
    overflow: hidden;
    animation: Animates 6s linear infinite;

}
@keyframes Animates{
    0%,10%,100%{
        width: 0%;
    }
    70%,90%{
        width: 100%;
    }
}
