$primary: #01fe87;
$seconday: #252839;

#writing{
    margin-left: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #252839;
    animation:back11 8s infinite;
}

#string{
    position: relative;
    font-size: 6vw;
    -webkit-text-stroke: 0.2vw #464646;
    color: #25283900;
    width: 35vw;
    top: -70%;
    left: 26%;
}
#string::before{
    content: attr(data-text);
    position: absolute;
    width: 34vw;
    height: 100%;
    color: $primary;
    -webkit-text-stroke:rgba(0, 0, 0, 0);
    border-right: 2px solid $primary;
    overflow: hidden;
    animation: Animates 6s linear infinite;

}
@keyframes Animates1{
    0%,10%,100%{
        width: 0%;
    }
    70%,90%{
        width: 100%;
    }
}
#triangle{
    width: 100px;
    height: 100%;
    border-left: 168px solid #01fe87;
    border-top: 0px solid #25283900;
    border-bottom: 280px solid #25283900;
}
@media only screen and (max-width: 736px){
    #writing1 {
        height: 240px;
    }
    #string1 {
        top: 5vh;
        left: 1vh!important;
    }
}
@media only screen and (max-width: 1200px){
    #writing1 {
        height: 440px;
    }
    #string1 {
        top: 5vh;
        left: 2vh;
    }
}

@media only screen and (max-width: 2300px){
    #writing1 {
        height: 440px;
    }
    #string1 {
        top: 13vh;
        left: 17vh;
    }
}