/*    <div id="allPhone">
        <div id="upPhone"></div>
        <div id="screenPhone"></div>
        <div id="downPhone"></div>
    </div>
        <div class="container-phone">
      <div class="item-phone">
    <Phone/>
      </div>
      <div class="item-phone">
    <Phone/>
      </div>
      <div class="item-phone">
    <Phone/>
      </div>*/
$width: 300px;
#allPhone{
width: $width;
height: 2 * $width;
background-color: RED;
}
@media screen and (max-width: 860px) {
    #allPhone {
        margin-left: auto;
        margin-right: auto;
    }
    .container-phone{
        flex-direction: column;
    }
    .item-phone{
        margin: auto!important;

    }
    .item-phone-2{
        margin-top: 97px;
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    #lista-vid{
        margin-top: 0px!important;
        margin-bottom: 97px;
    }
}
  #allPhone {
    width: $width;
    height: 2 * $width;
    background-color: black;
    position: relative;
    padding-top: 20px;
    border-radius: 20px;
}
#upPhone{
    width: 0.37 * $width;
    height: 10px;
    background-color: white;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
}
#screenPhone{
    width: $width*0.85;
    height: 1.55 * $width;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
    overflow: hidden;      
}
#downPhone{
    border-radius: 100%;
    border: 3px solid white;
    width: 0.1 * $width;
    height: 0.1 * $width;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;

}
.container-phone{
    display: flex;
}
.item-phone-2{
    flex-grow: 2;
    background-color: red;
    padding: 20px;
    animation: 5s forwards ShowStart-1;
}
#myweek{
    margin-top: -25px;
    overflow: hidden;
}
.item-phone-2{
    margin: 97px;
    color: #252839;
    font-size: 20px;
    border-left: 6px solid #8f20db;
    background-color: #fff;
}
.item-phone{
    margin-top: 50px;
    margin-left: 50px;
}
#video-lista{
    margin-left:auto;
    margin-right: 50px;
}