#circle-const{
    background-color: red;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
.game-box{
    float:left;
    width: 20vw;
    border: 3px solid green;
    height: 300px;
    text-align: center;
}
#game-money{
    border-color: black;
    height:100px;
    background-color: yellow;
}
#game-houses{
    border-color: brown;
}
#game-risk{
    border-color: red;
}
#game-money-2{
    float: right;
    width: 10vw;
}
#game{
    padding-top: 120px;
}
#cost{
    padding-top: 5vw;
    
}
.item2{
    width: 38vw;
    float: left;
    text-align: center;
    height: 200px;
    border: 2px solid black;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 40px;
}
#castle{
    width: 90%;
    
}
.material{
    z-index: 5;
    border-radius: 100%;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    position: absolute;
}
#gold{
    background-color: yellow;
    margin-top: 670px;
    margin-left: calc(50vw - 20px);
    /* od zamku do domku
    background-color: yellow;
    margin-top: 428px;
    margin-left: calc(25vw - 20px);
    */
    animation-duration: 1s;
}
#gold2{
    background-color: yellow;
}
#gold3{
    background-color: yellow;
}
#food{
    background-color: rgb(71, 43, 0);
    margin-top: 920px;
    margin-left: calc(73vw - 20px);
}
@keyframes GetGold{
    0%{
        margin-top: 670px;
        margin-left: calc(50vw - 20px);
    }
    100%{
        margin-top: 428px;
        margin-left: calc(25vw - 20px);
        animation-name: none;
        
    }
}